#container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    padding: 1rem;
}

.input-container{
    margin: 12px;
}

#navbar{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: brown;
}

#navbar h1{
    color: white;
}
#navbar h1:hover{
    color: yellow;
    cursor: pointer;
    
}
#navbar h1 :active{
    color: orange;
}